[Unit]
 Description=Worlde Alarm
 After=multi-user.target

[Service]
WorkingDirectory=/home/mnalavadi/wordle-alarm
Type=idle
ExecStart=/home/mnalavadi/.local/bin/uv run src/scheduler.py
User=mnalavadi

 [Install]
 WantedBy=multi-user.target
