[Unit]
 Description=Worlde Alarm
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/mnalavadi/wordle-alarm
 Type=idle
 ExecStart=/home/mnalavadi/miniconda3/envs/wordle_alarm/bin/python scheduler.py
 User=mnalavadi

 [Install]
 WantedBy=multi-user.target
